body {
  color: white;
  background-color: #210501;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  overflow: hidden;
  background: linear-gradient(90deg, #70BCFF 0%, #0071D6 100%);
  color: black;
  border-radius: 10px;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #dedcff;
  color: black;
}

#navbar a.active {
  background-color: #4b47d1;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.warning {
  font-size: small;
}

.image {
  text-align: center;
}

img {
  border-radius: 10px;
}